$nav-background: #616972; 
$nav-text-color : #F8F9D7; 
$nav-text-color-hover: white ; 
$navlink-fill-color : #6D99CE ; 
$navlink-fill-color-hover:#92b2da ;
$body-background : #4B5056 ; 
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $nav-background;
    height: 12vh;
    box-shadow: 1px 6px 15px -10px rgba(0,0,0,0.75);
    z-index:2;
    #logo {
        transform: translateY(-10%);
    }
    ul {
        width:60%;
        display: flex;
        justify-content: flex-end;
        gap: 4%;
        li{
            list-style-type: none;
            display: inline ;
            padding: 10px 20px ;
            background-color: $navlink-fill-color;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 300ms ease;
            a{
                text-decoration: none ;
                color:$nav-text-color; 
                transition: color 300ms ease;
            }
        }
       
    }
    li:hover{
        background-color: $navlink-fill-color-hover;
        a{
            color: $nav-text-color-hover;
        }
    }
        
    }
@media only screen and (max-width: 600px) {
    nav  {
          width : 100% ; 
          display: grid;
          grid-template-columns: 20% 80%;
          gap: 0;
          place-items: center;
          #logo {
            transform: scale(.8) translate(20%,-11%);
          }
          ul{
            width:100% ; 
                        
            justify-content: center;
            li{
                padding :  8px 8px  ; 
            }
          
            
          }
    }

}