@import "navbar";
@import "body" ; 
@import "stars"; 
@import "cards"; 
@import "questions" ;
@import "contact" ; 
@import "social" ; 

$body-background : #4B5056 ; 

@font-face {
    font-family: myfont;
    src: url(../fonts/LeagueSpartan-Bold.otf);
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: myfont;
    margin: 0;
    box-sizing: border-box;
    background-color: $body-background;
    overflow-x: hidden;
}

